/* =================================================================== F O N T S ===========================================================*/
@font-face {
    font-family: 'dosisbold';
    src: url('font/dosis-bold-webfont.woff2') format('woff2'),
         url('font/dosis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisbold';
    src: url('font/Dosis-Bold.otf') format('otf'),
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dosisregular';
    src: url('font/dosis-regular-webfont.woff2') format('woff2'),
         url('font/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('font/Dosis-Regular.otf') format('otf'),
    font-weight: normal;
    font-style: normal;
}



body {
	font-family: "dosisbold", "dosisregular", Helvetica, Arial, sans-serif;
}

p {
    font-family: "dosisregular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: black; font-size: 1.2em;}
petit {
    font-family: "dosisregular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: black; opacity: 0.8; font-size: 0.9em;}

li  {
       font-family: "dosisregular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
       color: black; font-size: 1.2em;}

h1, h2, h3, h4, h5, h6 {
        font-family:"dosisbold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: black;
    text-transform: uppercase;}
.colorwhite {color: black;}

h3 {color: black;
font-size: 1em;}

h2 mark {color: black;
background-color: black;
font-size: 1em;}

h2{text-transform: none;
font-size: 1em;
color: black;}

/* --------------------------------------------- B O D Y -------------------------------------------------*/
body {margin: 0;
    padding: 0;
	overflow-x: hidden;
    background-color: #FFEB69;
}

footer{bottom: 0px;}
footer p{
    color: black;
    text-align: center;
}
footer a {text-decoration: none;
    color: #2a3441;
}
footer a:hover{color: #f29583;}

.section {
	width: 100%;
    min-height: 50vh;
    background-color: #FFEB69;
    }

#section-home {
    background-color: #FFEB69;

}

#imagefond{
margin-top: 30px;
    width: 100vw;
    height: 60vh;
    background-image: url(../img/logo-noir.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#imagefond:hover{
    transform: scale(1.03);
    cursor: pointer;
}

#imagefond2{
    margin-top: 30px;
    width: 100vw;
    height: 60vh;
    background-image: url(../img/logo-noir2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.03);
}

#imagefond2:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.btn{
    color: #4765A6;
    text-decoration: none;
}
.btn:over{
  color: #384F81;
  text-decoration: none;
}


/*-----------------------MENU-----------------------------------*/

#wrapfatmenu{
    background-color: #FFEB69;
}
#menufat {padding: 0px;}
ul {list-style-type: none;
	z-index: 500;
	text-decoration: none;
    }
li{display: inline;}
#fatmenu{
    width: 100vw;
    text-align: center;
    display: inline-block;
    height: 300px;
    padding-top: 50px;
}
.fatbtn{
    opacity: 0.8;
    width:17%;
    height: 300px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.fatbtn:hover{
    transform: scale(1.03);
}

#programme{background-image: url(../img/prog.png);}
#programme:hover{background-image: url(../img/prog-2.png);}
#infospratiques{background-image: url(../img/infos.png);}
#infospratiques:hover{background-image: url(../img/infos-2.png);}
#galeries{background-image: url(../img/galeries.png);}
#galeries:hover{background-image: url(../img/galeries-2.png);}
#quisommesnous{background-image: url(../img/quisommesnous.png);}
#quisommesnous:hover{background-image: url(../img/quisommesnous-2.png);}

/*---------------------------------------- MENU LATERAL --------------------------------------------*/


#wraptinymenu{
    width: 40px;
    height: 200px;
    right: 0px;
    position: fixed;
    bottom: 100px;
    z-index: 1000;
}

#petitmenu li{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    border-radius: 10px 0 0 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-left: solid 3px #FFEB69;
    border-top: solid 3px #FFEB69;
    border-bottom: solid 3px #FFEB69;
}

#petitmenu li:hover {
    width: 55px;
    cursor: pointer;
}
#petitli1 {top: 0px;
background-image: url(../img/mail.jpg);
}
#petitli2 {top: 45px;
background-image: url(../img/facebook.jpg);}
#petitli3 {top: 90px; background-image: url(../img/instagram.jpg);}
#petitli4 {top: 135px; background-image: url(../img/youtube.jpg);}

#petitmenu li a .fatbtn {width: 50px;height: 50px;}




/*---------------------------------------- PROCHAIN EVENEMENT --------------------------------------------*/

/*.about {
  background-image: url(../img/transmutation-bd.jpg) no-repeat fixed center / cover;
  color: black;
}*/

#pastille {background-image: url(../img/pastille.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: relative;
    left: calc(52vw - 140px);
    margin-bottom: 40px;
    margin-top: -20px;
    z-index: 2;
    opacity: 0.9;
}
#pastille:hover{
    transform: scale(1.05);
}

#pastillenewsletter {background-image: url(../img/pastillenewsletter.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    left: calc(55vw - 165px);
    margin-bottom: 20px;
    margin-top: 0px;
    z-index: 2;
    opacity: 0.9;
}

#pastillenewsletter:hover{
    transform: scale(1.05);
}


.imagebandeau {
  background: url(../img/verbevolants.jpg) no-repeat fixed center / cover;
  color: black;
  height: 700px;
  width: 100%;
}

/*
.imagebandeau:hover {
  filter: invert(0.65);
}
*/


.imagebandeau-theysay {
  background: url(../img/theysayitislove.jpg) no-repeat fixed center / cover;
  color: black;
  height: 700px;
  width: 100%;
}





.imagebandeau2 {
  background: no-repeat fixed center / cover;
  color: black;
  height: 600px;
  width: 100%;
}

video {
 position: no-repeat fixed center;
   min-width: 100%;
    max-height: 600px;
    top: 10%;
    left: 2%;
    width: auto;
    height: auto;
    background-color: #FFEB56;
   z-index: -1;
  background: url(../img/poster.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

video { display: block; }


/*
.imagebandeau2:hover {
  filter: invert(0.9);
}
*/

.prochainevenement .one-third,
.prochainevenement .two-thirds {
  /*background: white;
  background: rgba(255,255,255,1);*/
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.prochainevenement .bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}



/*#machine3{
  position: absolute;
  top: -50%; left: 55%;
  z-index: 9;
  cursor: grab;
    width: 65%;
    height: 65%;
    background-image: url(../img/Machine3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}
#machine1{
  position: absolute;
  top: -30%; left: -35%;
  z-index: 9;
  cursor: grab;
    width: 40%;
    height: 40%;
    background-image: url(../img/Machine1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#machineA{
  position: absolute;
  top: 35%; left: 50%;
  z-index: 9;
  cursor: grab;
    width: 40%;
    height: 40%;
    background-image: url(../img/MachineA.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
*/

#prog{
  margin-top: 20px;
}

/*---------------------------------------- INFORMATIONS PRATIQUES --------------------------------------------*/


.informationspratiques {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.informationspratiques .bottom {

  margin-bottom: 20px;
  padding-bottom: 20px;
}

#map {
  height: 600px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  margin-bottom : -70px;
}


/*------------------------------- M E D I A Q U E R R I E S -----------------------------------*/

/*-------------------------------------- > 950 ---------------------------------------------------*/
@media screen and (max-width:950px){

    ul {list-style-type: none;
	z-index: 500;
	text-decoration: none;
    }
li{display: inline;}

#fatmenu{
    width: 100vw;
    text-align: center;
    display: inline-block;
    height: auto;
    position: relative;
}
.fatbtn{
    width: 20%;
    height: 20vw;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.fatbtn:hover{
    transform: scale(1.05);
}
.section{
    padding: 0px;
    }

#machine1{
  position: absolute;
  top: 77%; left: 5%;
  width: 40%;
    height: 40%;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#machine3{
  position: absolute;
  top: 52%; left: 30%;
  width: 50%;
    height: 50%;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#machineA{
  position: absolute;
  top: 15%; left: 50%;
  width: 40%;
    height: 40%;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
}

/*--------------------------------- > 500 -----------------------------------------------*/
@media screen and (max-width:500px){
    .fatbtn{
        width: 35%;
        height: 35vw;
        display: inline-block;
    }
    #fatmenu{
    width: 90vw;
    text-align: center;
    display: inline-block;
    height: 300px;
}
    #wrapfatmenu{
        text-align: center;
    }

   #machine1{
  width: 30%;
    height: 30%;
    top: 80%; left: 50%;
    display: inline-block;
}
#machine3{
  width: 30%;
    height: 30%;
    top: 50%; left: 50%;
}
#machineA{
  position: absolute;
  top: 10%; left: 50%;
  width: 40%;
    height: 40%;
}

#map {
  height: 350px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  margin-bottom: 180px;
}


.imagebandeau{
  background: url(../img/verbevolants.jpg)no-repeat fixed center / cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;

}

.imagebandeau2 {
  background: url(../img/export-final-compressed.gif)no-repeat fixed center / cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}

.imagebandeau-theysay {
  background: url(../img/theysayitislove.jpg) no-repeat fixed center / cover;
  background-attachment: scroll;
  color: black;
  height: 350px;
  width: 100%;
}

#pastille {background-image: url(../img/pastille.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: relative;
    left: calc(57vw - 140px);
    margin-bottom: 40px;
    margin-top: 0px;
    z-index: 2;
    opacity: 0.9;
}

#pastille:hover{
    transform: scale(1.05);
}

#pastillenewsletter {background-image: url(../img/pastillenewsletter.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    position: relative;
    left: calc(55vw - 165px);
    margin-bottom: 20px;
    margin-top: 0px;
    z-index: 2;
    opacity: 0.9;
}

#pastillenewsletter:hover{
    transform: scale(1.05);
}

#bgvid { display: none; }
}

/*--------------------------------- > 350 -----------------------------------------------*/
@media screen and (max-width:350px){
    .fatbtn{
        width: 45%;
        height: 45vw;
    }
    #machine1{
  width: 28%;
    height: 28%;
    top: 82%;
    left: 54%;
    display: inline-block;
}
#machine3{
  width: 27%;
    height: 27%;
    top: 59%; left: 64%;

}
#machineA{
  position: absolute;
  top: 77%; left: 35%;
  width: 35%;
    height: 35%;
}


#map {
  height: 350px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  margin-bottom:180px;
}



.imagebandeau{
  background: url(../img/verbevolants.jpg)no-repeat fixed center / cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}

.imagebandeau2 {
  background: url(../img/export-final-compressed.gif)no-repeat fixed center / cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}

.imagebandeau-theysay {
  background: url(../img/theysayitislove.jpg)no-repeat fixed center / cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}

#pastille {background-image: url(../img/pastille.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    left: calc(57vw - 140px);
    margin-bottom: 40px;
    margin-top: 0px;
    z-index: 2;
    opacity: 0.9;
}

#pastille:hover{
    transform: scale(1.05);
}

#pastillenewsletter {background-image: url(../img/pastillenewsletter.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
    left: calc(55vw - 165px);
    margin-bottom: 20px;
    margin-top: 0px;
    z-index: 2;
    opacity: 0.9;
}

#pastillenewsletter:hover{
    transform: scale(1.05);
}


#bgvid { display: none; }

}
