
/* FONTS*/
  @font-face {
      font-family: 'dosisbold';
      src: url('../font/dosis-bold-webfont.woff2') format('woff2'),
           url('../font/dosis-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'dosisbold';
      src: url('../font/Dosis-Bold.otf') format('otf'),
      font-weight: normal;
      font-style: normal;
  }


  @font-face {
      font-family: 'dosisregular';
      src: url('../font/dosis-regular-webfont.woff2') format('woff2'),
           url('../font/dosis-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'dosisregular';
      src: url('../font/Dosis-Regular.otf') format('otf'),
      font-weight: normal;
      font-style: normal;
  }

/* --------------------------------------------- B O D Y -------------------------------------------------*/
  body {
  	font-family: "dosisbold", "dosisregular", Helvetica, Arial, sans-serif;
    background-color: white;
    height: ;
    width: auto;
  }

  div.gallery-item {
    display: none;
    width:calc(50% - 20px);
    height:calc(80% - 20px);
    position:absolute;
    top:10%;
    bottom:10%;
    left:33%;
    opacity:50%;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  div.titleimg {
    position: relative;
    left:55%;
    text-align: left;
    padding-right: 20%;

  }
  div.paragraphe {
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    position: relative;
    top: 20%;

    width: 50%;
  }

  img#premiere {
    width:calc(30% - 10px);
    position:absolute;
    left: 15%;
    margin-left: auto;
    padding-top: 1%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  ul {
    list-style-type: none;
  }
  a:link {
   text-decoration:none;
  }
  .liste{
    color: black;
    font-size: 3em;
  }
  li:hover div{
    display: block;
  }
  li{
margin-top:2%;
  }
  h1.title{
    text-align: left;
    color: black;

    background-size: contain;
    font-size: 3em;
    background-color:#FFEB59;
  }

  h2.subtitle {
    color: black;
    text-align: left;
    font-size: 2em;
    background-size: contain;
    background-color:#FFEB69;
  }

  p {
      font-family: "dosisregular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: black; font-size: 1.2em;}
  petit {
      font-family: "dosisregular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: black; opacity: 0.8; font-size: 0.9em;}


<<<<<<< HEAD


      .header {

  padding: 32px;
}





      /* --------------------------------------GRILLE D'IMAGE-----------------------------*/

      .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
body {
  background-color:;

}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  body {
    background-color:;
  }
  img#premiere { left: 20%;
  }
  div.titleimg {
    padding-right: 10%;
  }

}
=======
