
/* FONTS*/
  @font-face {
      font-family: 'dosisbold';
      src: url('../font/dosis-bold-webfont.woff2') format('woff2'),
           url('../font/dosis-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'dosisbold';
      src: url('../font/Dosis-Bold.otf') format('otf'),
      font-weight: normal;
      font-style: normal;
  }


  @font-face {
      font-family: 'dosisregular';
      src: url('../font/dosis-regular-webfont.woff2') format('woff2'),
           url('../font/dosis-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'dosisregular';
      src: url('../font/Dosis-Regular.otf') format('otf'),
      font-weight: normal;
      font-style: normal;
  }

/* --------------------------------------------- B O D Y -------------------------------------------------*/
  body {
  	font-family: "dosisbold", "dosisregular", Helvetica, Arial, sans-serif;
    background-color: #FFEB69;
  }

  div.gallery-item {
    display: none;
    width:calc(50% - 20px);
    height:calc(80% - 20px);
    position:absolute;
    top:10%;
    bottom:10%;
    left:33%;
    opacity:50%;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  ul {
    list-style-type: none;
  }
  a:link {
   text-decoration:none;
  }
  .liste{
    color: black;
    font-size: 3em;
  }
  li:hover div{
    display: block;
  }
  li{
margin-top:2%;
  }
  h1{
    color: black;
    font-size: 3em;
  }
